<%= form_for(:user, :html => {:multipart => true },url: { action: form_action }, method: form_method) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> a interdit la mise à jour de votre compte:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div class="field">
    <%= form.label 'profile_img', 'Image de profile', style:'padding: 0 0.5rem;margin-bottom:0'%>
    <%= form.file_field 'profile_img',accept: 'image/png,image/gif,image/jpeg,image/svg', style:'border:none'%>
  </div>

  <div class="actions" style="flex-grow: 1;display: flex;">
    <button type="submit" class="px-4 bg-red-imperial p-3 rounded-lg text-white hover:bg-blue-space">Envoyer</button>
    <a class="ml-auto" data-confirm="Êtes-vous sûr ?" title="Êtes-vous sûr de vouloir supprimer votre compte ?" rel="nofollow" data-method="delete" href="<%=url_for controller: :users, action: 'destroy' %>">
    <button class="px-4 bg-red-imperial p-3 rounded-lg text-white hover:bg-blue-space" >Supprimer mon compte</button>
    </a>
  </div>
<% end %>
