<div class="grid grid-cols-1">
  <h1>Editing User</h1>


  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @user.status %>
  </p>
  <p>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </p>

  <p>
    <strong>Image:</strong>
    <% if @user.imageB64?%>
      <img src="<%= url_for(:action => 'file', :id => @user.id) %>"/>
    <%end%>
  </p>

  <div class="flex">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %> |
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Êtes vous sure?' } %>
  </div>
</div>