<div class="fixed left-16 bottom-12 text-white px-6 py-4 border-0 rounded mb-4 <%= background %>">
  <span class="text-xl inline-block mr-5 align-middle">
    <i class="<%= icon %>"></i>
  </span>
  <span class="inline-block align-middle mr-8">
    <b class="capitalize"><%= title %> !</b> <%= message %>
  </span>
  <button class="notify-close absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-4 outline-none focus:outline-none">
    <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
    </svg>
  </button>
</div>
<%= javascript_pack_tag 'script/notify'%>