<a href="<%= url_for(controller:'users', action: 'login', id: user.id)%>" class="items-center justify-center profileMainContainer">
  <div class="profileContainer">
    <div class="-mt-8 md:-my-4 md:-ml-16">
      <img
        class="w-auto h-48 profileImage"
        src="<%= user.imageB64? ? url_for(controller: 'users', action: 'file', id: user.id) : 'data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII='%>"
        alt="<%= user.name %>"
        />
    </div>
    <div class="flex flex-col ml-4 overflow-hidden md:whitespace-nowrap text-center">
      <div class="flex flex-col items-center md:items-start">
        <h2 class="text-xl font-medium"><%= user.name %></h2>
        <p class="text-base font-medium text-gray-400">@<%= user.login %></p>
      </div>
    </div>
  </div>
</a>