<div class="tweet">
<article class="media">
  <figure class="media-left" title="accéder au profile" style="cursor: pointer;" onclick="window.location='<%= url_for(controller:'users', action: 'show', id: tweet.user.id)%>'">
    <p class="image is-64x64">
      <img class="user-image" src="<%= url_for(controller:'users', action: 'file', id: tweet.user.id)%>">
    </p>
  </figure>
  <div class="media-content">
    <div class="content" title="lire le tweet (double click)" ondblclick="window.location='<%= url_for(controller:'tweets', action: 'show', id: tweet.id)%>'" style="cursor: pointer;">
      <p>
        <strong><%=tweet.user.name%></strong>
        <br>
        <small>@<%=tweet.user.login%></small>
        <small class="time-lapsed"><%=tweet.created_at%></small>
        <br>
        <span class="description">
          <%= format_tweet_body(tweet.tweet)%>
        </span>
      </p>
    </div>
    <div class="tweet-image">
      <!--<img src="/asset/users/10/profile" />-->
    </div>
  </div>
  <div>
    <%if @user_auth != nil%>
      <%if @user_auth.id ==  tweet.user.id%>
        <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, tweet, method: :delete, data: { confirm: 'Êtes vous sur ?'}, title: 'Suprimer le tweet' %>
      <%end %>
    <%end %>
  </div>
</article>
</div>