<!DOCTYPE html>
<html>
  <head>
    <title>TwityMineR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'application/favicon' %>
  </head>

  <body class="h-screen flex items-center justify-center bg-dark">
    <%= yield %>
    <%= javascript_pack_tag 'script/displayModal'%>
    <% if defined?(notice) && notice%>
      <%= render 'component/notify', title:'Info',message:notice,icon:'fas fa-check-circle',background:'bg-blue-space'%>
    <% end%>
    <% if defined?(status) && status%>
      <%= render 'component/notify', title:'Erreur',message:status,icon:'fas fa-exclamation-circle',background:'bg-red-imperial'%>
    <% end%>
  </body>
</html>
